@CHARSET "UTF-8";
@charset "UTF-8";body,.commonTopbar dd,.commonTopbar dl,.commonTopbar dt,.commonTopbar h2,.commonTopbar h3,.commonTopbar h4,.commonTopbar h6,.commonTopbar li,.commonTopbar ol,.commonTopbar p,.commonTopbar ul{margin:0;padding:0;list-style:none;-webkit-text-size-adjust:none}

.commonTopbar img{border:0}

.commonTopbar em,.commonTopbar i,.commonTopbar h2,.commonTopbar h3,.commonTopbar h4,.commonTopbar h6{font-style:normal}

.commonTopbar{font:12px/1.2 "Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",arial,Tahoma,SimSun,sans-serif;text-rendering:geometricPrecision;-webkit-font-smoothing:antialiased;position:relative;z-index:9999;width:100%;height:35px;line-height:35px;background:#fff;color:#555;border-bottom:1px solid #ddd}

.commonTopbar a,.commonTopbar div,.commonTopbar h1,.commonTopbar h2,.commonTopbar h3,.commonTopbar h4,.commonTopbar h5,.commonTopbar h6,.commonTopbar span,.commonTopbar p,.commonTopbar ul,.commonTopbar li{font-family:"Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",arial,Tahoma,SimSun,sans-serif!important;font-size:12px}

.commonTopbar a{text-decoration:none;cursor:pointer;color:#555}

.commonTopbar a:visited{color:#666}

.clear:after{content:"";display:block;clear:both}

:focus{outline:0}

.commonTopbar input,.commonTopbar p,.commonTopbar ul{margin:0;padding:0}

.commonTopbar li{list-style:none}

.commonTopbar .hc{display:none}

.commonTopbar .sc{display:block}

.commonTopbar input{font-family:Tahoma;font-size:12px}

.commonTopbar .w,.commonTopbar .n,.commonTopbar .warp{clear:both;line-height:27px}

.commonTopbar #commonTopbar_myfeet p a,.commonTopbar #commonTopbar_sitemapBox strong a,.commonTopbar .mapfuc a{color:#00c}

.commonTopbar .vip-con a,.commonTopbar .help-con a{color:#666}

.commonTopbar a:hover{color:#ff552e}

.commonTopbar .bar_left{float:left;word-spacing:1px;height:35px;line-height:35px}

.commonTopbar .bar_right{float:right}

.commonTopbar .bar_left h2{display:inline;font-size:12px;color:#ff552e;float:left;line-height:35px;font-weight:700}

.commonTopbar .bar_left .tuan{display:inline-block;position:relative;padding-right:30px}

.commonTopbar #commonTopbar_login,.commonTopbar .haschild{float:left}

.commonTopbar .arrow{margin-left:8px;background:url(http://img.58cdn.com.cn/ui6/topbar/topbar_icons.png) no-repeat -10px -470px;display:block;position:absolute;width:7px;height:4px;overflow:hidden;right:10px;top:16px}

.commonTopbar.hd_icons .arrow{background:url(http://img.58cdn.com.cn/ui6/topbar/topbar_icons@2x.png) no-repeat -10px -470px;background-size:18px;background-position:-6px -235px}

.commonTopbar .hover .arrow{background-position:-10px -411px}

.commonTopbar.hd_icons .hover .arrow{background-position:-6px -205px}

.commonTopbar .n .arrow{right:6px}

.commonTopbar .gap{font-style:italic}

.commonTopbar .hover .hc{border:1px solid #eee;display:block;position:absolute;zoom:1;background:#fff}

.commonTopbar .haschild{z-index:999;position:relative;padding:0 24px 0 14px;border:1px solid #fff;border-bottom:none;border-top:none}

.commonTopbar .n .haschild{padding:0 19px 0 8px}

.commonTopbar .hover #commonTopbar_tomy58,.commonTopbar .hover .mytxt{color:#ff552e}

.commonTopbar .weather{float:left;cursor:pointer;position:relative;word-spacing:0;border:1px solid #fff;border-bottom:none;border-top:none;padding:0 10px}

.commonTopbar .n .weather{padding:0 5px}

.commonTopbar .weather.w_hover{z-index:2000;border-color:#eee}

.commonTopbar #commonTopbar_my58menu.hover,.commonTopbar #commonTopbar_shopCenter.hover,.commonTopbar #commonTopbar_myfeet.hover,.commonTopbar #commonTopbar_sitemap.hover,.commonTopbar #commonTopbar_appQR.hover{border-color:#eee}

.commonTopbar .wt img{margin:-2px 10px 0 0;width:16px;height:16px;vertical-align:middle}

.commonTopbar .wt em{_zoom:1;font-style:normal}

.commonTopbar .wt .wTemp{position:relative}

.commonTopbar .today_lv{margin:0 0 0 10px;padding:0 2px;display:inline-block;border-radius:3px;_display:inline;_zoom:1;line-height:16px;color:#fff}

.commonTopbar .today_lv_1{background-color:#eb4f4f}

.commonTopbar .today_lv_0{background-color:#73d538}

.commonTopbar .wb{border:1px solid #e4e1e1;position:absolute;left:-1px;top:35px;_top:36px;z-index:1000;background:#fff;width:470px;line-height:20px;display:none;cursor:default}

.commonTopbar .w_hover .wb{display:block}

.commonTopbar .wb .air{color:#959595;padding:0 10px;line-height:30px}

.commonTopbar .wb .air .airNum{font-size:16px;vertical-align:middle;font-style:normal}

.commonTopbar .wb .air .airNum_0{color:#ff552e}

.commonTopbar .wb .air .airNum_1{color:red}

.commonTopbar .wb .wsource{position:absolute;right:10px;top:0}

.commonTopbar .wb .wsource a{color:#0ca2eb!important;background:url(http://img.58cdn.com.cn/ui6/topbar/topbar_icons.png) no-repeat -2px -232px;padding-left:22px}

.commonTopbar.hd_icons .wb .wsource a{background:url(http://img.58cdn.com.cn/ui6/topbar/topbar_icons@2x.png) no-repeat -2px -232px;background-size:18px;background-position:2px -116px}
.commonTopbar .wb .wDay{padding:10px 0;overflow:hidden;position:relative;left:-1px;zoom:1}
.commonTopbar .wb .wDay li{float:left;width:155px;height:156px;text-align:center;border-left:1px solid #e4e1e1}
.commonTopbar .wb .wDay img{display:block;width:60px;height:60px;margin:10px auto 5px}
.commonTopbar .wb .prompt{zoom:1;background:#f8f8f8;clear:both;border-top:1px solid #e4e1e1;position:relative;padding:10px 10px 10px 75px;_zoom:1}
.commonTopbar .wb .prompt b{position:absolute;left:10px;top:10px}
.commonTopbar .bar_right{z-index:999;position:relative}
.commonTopbar #commonTopbar_my58menu,.commonTopbar #commonTopbar_shopCenter,.commonTopbar #commonTopbar_myfeet,.commonTopbar #commonTopbar_sitemap{height:35px;line-height:35px;cursor:pointer}
.commonTopbar #commonTopbar_login,.commonTopbar .help-con,.commonTopbar .vip-con{padding:0 10px;height:35px;line-height:35px;float:left}
.commonTopbar .n #commonTopbar_login,.commonTopbar .n .help-con,.commonTopbar .n .vip-con{padding:0 8px}
.commonTopbar #commonTopbar_login a{color:#666;margin:0 4px}
.commonTopbar #commonTopbar_login a:hover{color:#ff552e}
.commonTopbar #bangtoptip.msgTips{width:300px;height:30px}
.commonTopbar #commonTopbar_myfeet_tooltip.msgTips{width:180px;left:-55px}
.commonTopbar .msgTips{position:absolute;z-index:999;color:#000;top:36px;_overflow-x:hidden;background:#fff;border:1px solid #eee;border-top:none}
.commonTopbar .msgTips_con{position:absolute;z-index:999;color:#000;line-height:20px;padding:5px 20px 5px 25px;background-color:#fff}
.commonTopbar .msgTips_close{position:absolute;right:0;top:0;width:10px;height:10px;overflow:hidden;background-position:0 -229px;cursor:pointer;z-index:1000}
.commonTopbar .pos{z-index:999}
.commonTopbar #commonTopbar_loginbox{right:-1px;width:86px;_width:85px;top:35px;_top:36px}
.commonTopbar .n #commonTopbar_loginbox{width:75px;_width:73px}
.commonTopbar #commonTopbar_loginbox a{font-size:12px;display:block;height:30px;line-height:30px;text-align:center}
.commonTopbar #commonTopbar_loginbox a:hover{color:#ff552e;background-color:#f8f8f8;text-decoration:none}
.commonTopbar #commonTopbar_ipconfig{*position:relative;*z-index:999;float:left;margin:0 10px 0 8px}
.commonTopbar .n #commonTopbar_ipconfig{margin:0 5px}
.commonTopbar #commonTopbar_myfeet h4.category{font-size:12px;margin-left:10px;color:#555;font-weight:700;line-height:35px}
.commonTopbar #commonTopbar_myfeet h4.topLine{border-top:1px solid #eee;_top:36px}
.commonTopbar #commonTopbar_myfeetBox{right:-1px;width:215px;top:35px;padding-top:8px}
.commonTopbar #commonTopbar_myfeetBox li{padding-left:18px;height:27px;background-position:10px -427px}
.commonTopbar #commonTopbar_myfeetBox li a{height:27px;line-height:27px;width:100%;display:block}
.commonTopbar #commonTopbar_myfeetBox #commonTopbar_feet_final li{color:#555;height:27px;line-height:27px}
.commonTopbar #commonTopbar_myfeetBox li{background:url(http://img.58cdn.com.cn/ui6/topbar/topbar_icons.png) no-repeat -2px -343px}
.commonTopbar.hd_icons #commonTopbar_myfeetBox li{background:url(http://img.58cdn.com.cn/ui6/topbar/topbar_icons@2x.png) no-repeat -2px -343px;background-size:18px;background-position:2px -166px}
.commonTopbar #commonTopbar_myfeetBox li:hover,.commonTopbar #commonTopbar_myfeetBox #commonTopbar_feet_final li:hover{background-color:#f8f8f8;color:#555;background-position:-2px -285px}
.commonTopbar.hd_icons #commonTopbar_myfeetBox li:hover,.commonTopbar #commonTopbar_myfeetBox #commonTopbar_feet_final li:hover{background-position:2px -137px}
.commonTopbar #commonTopbar_myfeetBox li:hover a{color:#ff552e}
.commonTopbar #commonTopbar_myfeetBox #commonTopbar_feet_final li.norecord{background:0 0}
.commonTopbar.#commonTopbar_myfeetBox #commonTopbar_feet_final li.norecord:hover{background-color:#fff}
.commonTopbar #commonTopbar_clearInfo{height:35px;background-color:#f8f8f8;line-height:35px;text-align:center;color:#555}
.commonTopbar #commonTopbar_myfeetBox .bangbang_pr{+padding:0;-padding:8px;padding-left:20px;height:30px;display:block}
.commonTopbar .w{width:1190px;margin:0 auto}
.commonTopbar .n{width:1000px;margin:0 auto}
.commonTopbar #link_city_change{color:#00c;margin-left:5px}
.commonTopbar #commonTopbar_ipconfig a,.commonTopbar .haschild a{color:#666}
.commonTopbar #commonTopbar_ipconfig a:hover,.commonTopbar .haschild a:hover{color:#ff552e}
.commonTopbar .hv .hoverBox,.commonTopbar .hv .mark,.commonTopbar .w_hover .mark,.commonTopbar .hover .mark{display:block}
.commonTopbar .mark{position:absolute;right:0;top:34px;height:4px;z-index:1001;font-size:0;overflow:hidden;display:none;background-color:#fff;width:100%}
.commonTopbar .w .weather .mark{_width:172px}
.commonTopbar .w #commonTopbar_appQR .mark{_width:86px}
.commonTopbar .w #commonTopbar_my58menu .mark{_width:76px}
.commonTopbar .w #commonTopbar_myfeet .mark{_width:85px}
.commonTopbar .w #commonTopbar_sitemap .mark{_width:85px}
.commonTopbar .n .weather .mark{_width:162px}
.commonTopbar .n #commonTopbar_appQR .mark{_width:76px}
.commonTopbar .n #commonTopbar_my58menu .mark{_width:64px}
.commonTopbar .n #commonTopbar_myfeet .mark{_width:74px}
.commonTopbar .n #commonTopbar_sitemap .mark{_width:74px}
.commonTopbar #commonTopbar_sitemapBox{width:1188px;right:-1px;border:1px solid #eee;top:35px;_top:36px;padding:20px 0;cursor:default}
.commonTopbar .n #commonTopbar_sitemapBox{width:998px}
.commonTopbar #commonTopbar_sitemapBox .maplist{width:1188px;overflow:hidden}
.commonTopbar .n #commonTopbar_sitemapBox .maplist{width:998px}
.commonTopbar #commonTopbar_sitemapBox p{height:18px;color:#eee;line-height:18px;margin-top:6px}
.commonTopbar #commonTopbar_sitemapBox .appicons p{color:#999;height:12px;line-height:12px;margin-top:8px;text-align:center}
.commonTopbar #commonTopbar_sitemapBox .appicons a:hover p{color:#ff552e}
.commonTopbar #commonTopbar_sitemapBox .maplist li{height:320px;border-right:1px solid #eee;float:left}
.commonTopbar .w #commonTopbar_sitemapBox .maplist li.list0{padding-left:13px;_width:170px}
.commonTopbar .w #commonTopbar_sitemapBox .maplist li.list2{padding-right:20px;_width:223px}
.commonTopbar .n #commonTopbar_sitemapBox .maplist li.list0{padding-left:6px;_width:150px}
.commonTopbar .n #commonTopbar_sitemapBox .maplist li.list0.huangye{width:130px;_width:130px}
.commonTopbar .n #commonTopbar_sitemapBox .maplist li.list2{padding-right:8px;_width:215px}
.commonTopbar .w #commonTopbar_sitemapBox .maplist li.list0 p{width:170px}
.commonTopbar .n #commonTopbar_sitemapBox .maplist li.list0 p{width:150px}
.commonTopbar .n #commonTopbar_sitemapBox .maplist li.list0.huangye p{width:130px}
.commonTopbar #commonTopbar_sitemapBox .maplist li a:hover{text-decoration:none;color:#ff552e}
.commonTopbar #commonTopbar_sitemapBox .maplist h3{font-size:14px;color:#ff552e;line-height:16px;height:16px;cursor:default;font-weight:700}
.commonTopbar #commonTopbar_sitemapBox .maplist h3 a{color:#ff552e;font-size:14px;line-height:16px;height:16px;font-weight:700}
.commonTopbar #commonTopbar_sitemapBox .maplist a{font-size:12px;color:#333;line-height:30px;_line-height:30px;display:inline-block}
.commonTopbar #commonTopbar_sitemapBox .subtitle{margin-top:20px}
.commonTopbar #commonTopbar_sitemapBox .subtitle a{color:#999}
.commonTopbar #commonTopbar_sitemapBox .list0 a{padding:0 7px;height:14px;line-height:14px}
.commonTopbar .n #commonTopbar_sitemapBox .list0 a{padding:0 5px}
.commonTopbar #commonTopbar_sitemapBox .maplist .list2{border-right:none;float:right}
.commonTopbar #commonTopbar_sitemapBox .list2 em{width:68px;display:inline-block;position:relative}
.commonTopbar #commonTopbar_sitemapBox .huangye .subtitle a{color:#333}
.commonTopbar #commonTopbar_sitemapBox .maplist .appicons{line-height:12px}
.commonTopbar #commonTopbar_sitemapBox .maplist .appicons a{width:50px;text-align:center;margin:18px 13px 0 -4px;line-height:16px;color:#999}
.commonTopbar .n #commonTopbar_sitemapBox .maplist .appicons a{margin:18px 10px 0 -4px}
.commonTopbar #commonTopbar_sitemapBox .appicons img{width:40px;height:40px}
.commonTopbar #commonTopbar_sitemapBox .appqr{width:100px;text-align:center;float:left;margin-top:20px;line-height:16px;margin-right:20px}
.commonTopbar .n #commonTopbar_sitemapBox .appqr{margin-right:10px}
.commonTopbar #commonTopbar_sitemapBox .appqr img{width:100px;height:100px}
.commonTopbar #commonTopbar_sitemapBox .appqr p{margin-top:0;color:#999;text-align:center}
.commonTopbar #commonTopbar_appQR{background:url(http://img.58cdn.com.cn/ui6/topbar/topbar_icons.png) no-repeat;line-height:35px}
.commonTopbar.hd_icons #commonTopbar_appQR{background:url(http://img.58cdn.com.cn/ui6/topbar/topbar_icons@2x.png) no-repeat;background-size:18px}
.commonTopbar .w #commonTopbar_appQR{padding:0 22px 0 28px;background-position:1px -48px}
.commonTopbar.hd_icons .w #commonTopbar_appQR{background-position:5px -19px}
.commonTopbar .w #commonTopbar_appQR.hover{background-position:1px 10px}
.commonTopbar.hd_icons .w #commonTopbar_appQR.hover{background-position:5px 10px}
.commonTopbar .n #commonTopbar_appQR{padding-left:20px;background-position:-3px -48px}
.commonTopbar.hd_icons .n #commonTopbar_appQR{background-position:1px -19px}
.commonTopbar .n #commonTopbar_appQR.hover{background-position:-3px 10px}
.commonTopbar.hd_icons .n #commonTopbar_appQR.hover{background-position:1px 10px}
.commonTopbar #commonTopbar_appQR.hover .appQRbox{display:block}
.commonTopbar .w .appQRbox{_right:-2px}
.commonTopbar .appQRbox{border:1px solid #e4e1e1;position:absolute;right:-1px;top:35px;_top:36px;z-index:1000;background:#fff;line-height:20px;display:none;cursor:default;padding:20px}
.commonTopbar .appQRbox img{width:100px;height:100px}
.commonTopbar .appQRbox p{text-align:center;line-height:12px;word-break:keep-all;margin-top:6px}
.commonTopbar #commonTopbar_homepageLink{float:left;padding:0 10px 0 28px;background:url(http://img.58cdn.com.cn/ui6/topbar/topbar_icons.png) no-repeat 0 -164px;line-height:35px}
.commonTopbar.hd_icons #commonTopbar_homepageLink{background:url(http://img.58cdn.com.cn/ui6/topbar/topbar_icons@2x.png) no-repeat 0 -164px;background-size:18px;background-position:4px -76px}
.commonTopbar #commonTopbar_homepageLink.hover{background-position:0 -106px}
.commonTopbar.hd_icons #commonTopbar_homepageLink.hover{background-position:4px -47px}
.commonTopbar .n #commonTopbar_homepageLink{padding:0 5px 0 25px}
.commonFooter{width:100%;background-color:#fff;font-size:12px}
.commonFooter div,.commonFooter a,.commonFooter em,.commonFooter span{font-family:"Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",arial,Tahoma,SimSun,sans-serif!important;font-size:12px}
.commonFooter em{font-style:normal}
.commonFooter a{text-decoration:none}
.commonFooter .footerCon{width:1190px;margin:0 auto;border-top:1px solid #EEE}
.commonFooter .upWrap{border-top:1px solid #eee;padding:32px 0 20px 0}
.commonFooter .downWrap,.commonFooter .upWrap{height:14px;line-height:14px;text-align:center}
.commonFooter .upWrap a{color:#555;display:inline-block}
.commonFooter .upWrap a:hover{color:#ff552e}
.commonFooter .downWrap em,.commonFooter .downWrap a{color:#999;display:inline-block}
.commonFooter .downWrap span,.commonFooter .linkCont span,.commonFooter .upWrap span{margin:0 10px;color:#eee}
.commonFooter .fotBtmIcon{height:58px;text-align:center;margin-top:30px}
.commonFooter .fotBtmIcon a{display:inline-block;height:38px;margin-right:30px;background:url(http://img.58cdn.com.cn/ui8/house/detail/images/zufang-detail-footer.png) no-repeat;background-image:-webkit-image-set(url(http://img.58cdn.com.cn/ui8/house/detail/images/zufang-detail-footer.png) 1x,url(http://img.58cdn.com.cn/ui8/house/detail/images/zufang-detail-footer@2x.png) 2x)}
.commonFooter .fotBtmIcon .fotBm_1{width:130px;background-position:0 -96px}
.commonFooter .fotBtmIcon .fotBm_2{width:160px;background-position:0 -192px}
.commonFooter .fotBtmIcon .fotBm_3{width:154px;background-position:0 0}
.commonFooter .fotBtmIcon .fotBm_4{width:108px;background-position:0 -48px}
.commonFooter .fotBtmIcon .fotBm_5{width:130px;background-position:0 -144px}
.commonFooter .fotBtmIcon .fotBm_6{width:120px;background-position:0 -240px}
body{_height:100%;_background-attachment:fixed}
body,.flLogin_loginContent dd,.bindContent dd,.flLogin_loginContent dl,.bindContent dl,.flLogin_loginContent dt,.bindContent dt,.flLogin_loginContent li,.bindContent li,.flLogin_loginContent p,.bindContent p,.flLogin_loginContent ul,.bindContent ul{margin:0;padding:0;list-style:none;-webkit-text-size-adjust:none}
.flLogin_loginContent img,.bindContent img{border:0}
.flLogin_loginContent em,.bindContent em,.flLogin_loginContent i,.bindContent i{font-style:normal}
.flLogin_loginContent,.bindContent{font:12px/1.2 "Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",arial,Tahoma,SimSun,sans-serif;color:#333;text-rendering:geometricPrecision;-webkit-font-smoothing:antialiased;_background-attachment:fixed}
:-moz-placeholder{color:#ccc}
::-moz-placeholder{color:#ccc}
.formInput input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ccc;font-size:14px!important}
.formInput input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ccc;font-size:14px!important}
input::-ms-clear{display:none}
input::-ms-reveal{display:none}
.flLogin_loginContent a,.bindContent a{text-decoration:none;cursor:pointer;outline:0}
.flLogin_loginContent a:active,.bindContent a:active{star:expression(this.onFocus=this.blur())}
.flLogin_loginContent :focus,.bindContent :focus{outline:0}
.flLogin_loginContent input,.bindContent input{padding:0;margin:0;outline:0}
.flLogin_loginContent input::-ms-clear,.bindContent input::-ms-clear{display:none}
.flLogin_loginContent input:-webkit-autofill,.bindContent input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}
.flLogin_loginContent :focus,.bindContent :focus{outline:0}
#flLogin_loginContent{z-index:2147483647;position:fixed;width:100%;height:100%;top:0}
.flLogin_wrap{padding-top:62px;padding-bottom:30px;width:476px;opacity:1;background:#fff;border-radius:3px;position:relative;z-index:99999;top:100px;left:50%;margin-left:-238px;_margin-left:0;_position:absolute;_left:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollLeft+(document.documentElement.clientWidth-this.offsetWidth)/2: document.body.scrollLeft+(document.body.clientWidth - this.clientHeight)/2)}
.flLogin_wrap .flLogin_switch-type{position:absolute;right:10px;top:12px}
.flLogin_wrap .flLogin_switch-type i{display:inline-block;width:73px;height:25px;margin-right:10px;text-align:center;line-height:25px;font-size:14px;color:#FF8C14;background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:0 -156px;position:relative;top:-32px;_top:-30px}
.flLogin_wrap .flLogin_switch-type a{display:inline-block;width:50px;height:49px;background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-338px 0}
#flLogin_pwdLogin a{width:48px;margin-left:2px}
.flLogin_wrap .flLogin_switch-type a:hover{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-288px 0}
.flLogin_wrap .flLogin_switch-type .flLogin_pwdlogin a{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-239px 0}
.flLogin_wrap .flLogin_switch-type .flLogin_pwdlogin a:hover{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-389px 0}
.flLogin_loginContent .flLogin_loginLogo,.bindContent .flLogin_loginLogo{height:36px;width:116px;margin:0 auto 10px;margin-top:0;background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:5px -184px}
.hide{display:none}
.pasport_clear:after{content:" ";display:block;clear:both;height:0}
.pasport_clear{zoom:1}
#flLogin_loginBox{width:440px;margin:0 auto}
#flLogin_loginBox .login-box-title,#flLogin_loginBox .login-content{width:350px;margin:0 auto;padding:0}
#flLogin_loginBox .login-box-title li{float:left;width:50%;height:58px;border-bottom:1px solid #ebebeb}
#flLogin_loginBox .login-box-title li a{display:inline-block;width:100%;height:58px;line-height:58px;text-align:center;font-size:18px;color:#666;text-decoration:none}
#flLogin_loginBox .login-box-title li.passport_active{border-bottom:1px solid #FF552E}
#flLogin_loginBox .login-box-title li.passport_active a{color:#FF552E}
#flLogin_loginBox .third-login{width:350px;height:34px;margin:22px auto auto}
#flLogin_loginBox .third-login a{float:left;color:#999;font-size:14px;margin-right:40px;text-decoration:none}
#flLogin_loginBox .third-login i{display:inline-block;width:34px;height:34px}
#flLogin_loginBox .third-login span{position:relative;top:-11px;left:10px}
#flLogin_loginBox .third-login .wb-login{margin-right:0}
#flLogin_loginBox .third-login .wb-login i{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-34px 0}
#flLogin_loginBox .third-login .wb-login:hover i{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-102px 0}
#flLogin_loginBox .third-login .wx-login i{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-170px 0}
#flLogin_loginBox .third-login .wx-login:hover i{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-136px 0}
#flLogin_loginBox .third-login .qq-login i{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-204px 0}
#flLogin_loginBox .third-login .qq-login:hover i{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-68px 0}
.fl-loginbg{position:fixed;width:100%;height:100%;background-color:#333;-webkit-opacity:.6;-moz-opacity:.6;-khtml-opacity:.6;opacity:.6;filter:alpha(opacity=60);-ms-filter:alpha(Opacity=60);filter:alpha(Opacity=60);left:0;right:0;top:0;bottom:0;z-index:99998;_position:absolute;_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2: document.body.scrollTop+(document.body.clientHeight - this.clientHeight)/2)}
.fl-loginbg span{width:24px;height:24px;position:absolute;background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-9px 0;right:31px;top:38px;cursor:pointer}
.wx-qrcode{width:240px;height:310px;margin:0 auto;position:fixed;left:50%;top:50%;margin-left:-120px;margin-top:-155px;_margin-top:0;z-index:99999;_position:absolute;_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2: document.body.scrollTop+(document.body.clientHeight - this.clientHeight)/2);text-align:center}
.wx-qrcode span{display:inline-block;vertical-align:middle;display:none}
.wx-qrcode img{margin-top:15px}
.wx-qrcode h2{color:#fff;font-size:18px;font-weight:400}
.wx-qrcode-img{width:180px;height:180px;margin:40px auto auto;background-color:#fff}
.img-wrap{width:150px;height:150px;margin:0 auto;position:relative}
.flLogin_loginContent p.scanLoginTitle{text-align:center;font-size:18px;color:#666;margin-top:28px;line-height:22px;height:22px}
#scanLogin{margin-top:20px}
.qrcode-failbg{width:100%;height:100%;background-color:#fff;-webkit-opacity:.89;-moz-opacity:.89;-khtml-opacity:.89;opacity:.89;filter:alpha(opacity=89);-ms-filter:alpha(Opacity=89);filter:alpha(Opacity=89);position:absolute;left:0;top:15px;bottom:0;right:0}
.qrcode-failtxt{position:absolute;left:0;top:15px;bottom:0;right:0;text-align:center}
.qrcode-failtxt p{color:#000;font-size:18px;margin-top:42px}
.qrcode-failtxt span{background:#FF552E;width:108px;height:34px;line-height:34px;color:#fff;font-size:16px;margin-top:14px;cursor:pointer}
.wx-qrcode-txt{width:180px;height:40px;color:#fff;background:#232323;border-radius:100px;font-size:14px;line-height:40px;position:relative;margin-top:30px;left:30px;*left:0;margin-left:0;text-align:center}
#scanLogin .erqcodeimgwrap{width:180px;height:180px;margin:0 auto;border:1px solid #EEE;position:relative}
#scanLogin .erqceodeimg{height:182px}
#scanLogin .erqcode-img{width:150px;height:150px;display:block;margin:15px auto auto}
#scanLogin .scanopenapptip{margin-top:63px;font-size:14px;color:#666;text-align:center;line-height:17px;height:17px}
#scanLogin .scanopenapptip a{color:#f4691c}
#scanLogin .scanopenapptip a:hover{text-decoration:underline}
#scanLogin .erqcodefailbg{width:100%;height:100%;position:absolute;background-color:#fff;-webkit-opacity:.89;-moz-opacity:.89;-khtml-opacity:.89;opacity:.89;filter:alpha(opacity=89);-ms-filter:alpha(Opacity=89);filter:alpha(Opacity=89);z-index:98;top:0;left:0;bottom:0;right:0}
#scanLogin .erqcodefail{position:absolute;width:100%;height:100%;z-index:99;top:0;left:0;bottom:0;right:0}
#scanLogin .erqcodefail-info{font-size:18px;color:#000;margin-top:57px;text-align:center}
#scanLogin .erqcode-refresh{background:#FF552E;width:108px;height:34px;text-align:center;line-height:34px;color:#fff;margin:14px auto auto;font-size:16px;cursor:pointer}
#scanLogin .scanhoverimgwrap{float:left;width:180px;height:180px;border:1px solid #eee;margin-right:20px}
#scanLogin .scanhoverimgwrap img{width:150px;height:150px;display:block;margin:15px auto auto}
#scanLogin .scanhover{clear:both;width:410px;margin:0 auto}
#scanLogin .scan-img{width:208px;height:202px;float:left;background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-238px -53px}
#scanSuc,#scanFail{margin-bottom:73px;margin-bottom:72px\9;margin-bottom:77px\9\0}
#scanSuc .scansucbg{width:70px;height:116px;margin:0 auto;background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-81px -37px}
#scanSuc p{text-align:center}
#scanSuc .fsz1666{font-size:20px;color:#666;margin-top:20px}
#scanSuc .fsz1433{font-size:14px;color:#333;margin-top:12px}
.scanfailimgbox{width:70px;height:116px;margin:0 auto;background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-1px -37px}
.scanfailtips{font-size:20px;color:#666;text-align:center;margin-top:20px}
#erqcode-tryagain{display:block;text-align:center;font-size:14px;color:#FF552E;margin-top:12px}
.flLogin_loginContent .formInput{margin-top:20px;overflow:hidden}
.formInput li{position:relative;overflow:hidden;clear:both}
.formInput li.commitcode_new{margin-top:0;line-height:28px;height:28px;color:#999;font-size:14px;margin-bottom:5px}
.formInput li.commitcode_new input#isremember_id_new,.formInput li.commitcode_new input#isremember_id_new_mobile{display:block;float:left;margin:8px 10px 0 0;width:13px;height:13px;border:none;display:inline-block;overflow:hidden;white-space:nowrap}
.formInput li input.inputNull{color:#ccc!important}
.formInput li.commitcode_new>span{float:left}
.formInput li.commitcode_new a{float:right;color:#666;display:inline-block;overflow:hidden;white-space:nowrap}
.formInput li input.passport-login-input{width:331px;background:#FFF;border:2px solid #EBEBEB;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;line-height:40px\9;font-size:14px;height:38px;padding:0 0 0 15px;margin:7px 0;font-family:"\5FAE\8F6F\96C5\9ED1"}
.formInput li input.passport-login-input[disabled]{color:#000}
.formInput li input[type=text]:focus{border:2px solid #bfbfbf}
.cbg{display:block;height:26px;position:absolute;width:5px;right:3px;top:15px;background:#fff}
.wrong1{float:left;color:#FF5252;font-size:12px;line-height:14px;padding-left:23px;overflow:hidden;*overflow:visible;display:none;margin:3px 0}
#passwordTip{width:320px}
.errorTip{display:block;background:url(//img.58cdn.com.cn/passportnew/img/flerroricon.png) no-repeat 0 0;_background:url(//img.58cdn.com.cn/passportnew/img/flerroricon.gif) no-repeat 0 0}
.loginVoicecodeTip{font-size:12px;color:#979797;float:right;padding:1px 0}
.loginVoicecodeBtn{color:#999}
#loginVoicecodeBtn,.loginVoicecodeBtn{border:0;background:0 0;outline:0;cursor:pointer;padding:0;*+font-size:12px;*+width:80px;*+height:16px;*+line-height:16px}
.voicecodeTxt{line-height:12px}
input.disabled{color:#979797}
.formInput li input.submit{cursor:pointer;border:none;background:#FF552E;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;text-align:center;font-size:18px;width:350px;height:42px;line-height:42px;color:#fff}
,userpwd-login{margin-bottom:0}
.userpwd-login .formInput li.passport-login-input-submit{margin-top:0}
.userpwd-login .formInput li input.submit{margin-top:1px}
#vcodeImg,#loginValidImg,.vcodeImg{position:absolute;right:8px;top:12px;width:auto}
.changecode{float:right;font-size:14px;color:#999;margin-top:13px}
.changecode a{color:#ff5c37;font-size:14px}
.getcode{border:0;position:absolute;right:8px;top:15px;display:block;width:80px;height:26px;text-align:center;background:#F6F6F6;border-radius:3px;font-size:12px;line-height:26px;color:#999;cursor:pointer}
.gotoregUser{color:#0E8ED8}
.validcodeliMobile{display:none}
.loginValidcodeLi{display:none}
.loginValidcodeKeep,.loginValidcodeLiKeep,.loginVoiceValidcodeKeep,.loginVoiceValidcodeLiKeep,.loginMobileUsernameKeep{display:block}
.loginValidcodeClear,.loginValidcodeLiClear,.loginVoiceValidcodeClear,.loginVoiceValidcodeLiClear,.loginMobileUsernameClear{display:none}
.loginValidcodeBg{margin:0;padding:0;border:none;width:100%;height:100%;opacity:.9;z-index:999;position:fixed;top:0;left:0;display:block;background:#333}
.loginValidcodeBox{left:50%;top:50%;margin-left:-260px;margin-top:-155px;position:absolute;z-index:1002;background:#FFF;box-shadow:0 2px 6px 2px rgba(0,0,0,.24);border-radius:2px;width:520px;height:310px}
.loginValidcodeTipText{display:block;text-align:center;font-size:20px;color:#333;text-align:center;margin-top:50px}
.loginValidcodeInputBox{margin:40px auto;margin-bottom:26px;width:440px;height:54px;line-height:54px;background:#FFF;border:2px solid #EBEBEB;border-radius:2px}
.loginValidcode{border:0;margin-left:15px;font-size:16px;height:20px;padding:15px 0;width:400px}
.loginValidcodeBtnbox{margin:0 auto;width:440px;height:54px;line-height:54px;background:#ff552e;color:#fff;border-radius:2px;text-align:center}
.loginValidcodeBtn{width:440px;height:54px;color:#fff;font-size:18px;border-radius:2px;border:0;background:#ff552e;cursor:pointer}
.loginValidcodeBtnOn{color:#fff}
#loginMobilecodeSendBtn{cursor:pointer;border:0}
.btnAbleSend{color:#ff552e}
.flLogin_scancode i,.flLogin_pwdlogin i{cursor:pointer}
.commitcode_new a.password:hover{color:#ff552e;text-decoration:underline}
#formSubmitFrame_new{display:none}
#loginMobileButton,#btnSubmitUser{margin-top:0}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-resolution:240dpi){.flLogin_wrap .flLogin_switch-type i{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:0 -153px;background-size:446px}
.flLogin_wrap .flLogin_switch-type a{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-338px 0;background-size:446px}
.flLogin_wrap .flLogin_switch-type a:hover{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-288px 0;background-size:446px}
.flLogin_wrap .flLogin_switch-type .flLogin_pwdlogin a{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-239px 0;background-size:446px}
.flLogin_wrap .flLogin_switch-type .flLogin_pwdlogin a:hover{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-389px 0;background-size:446px}
.flLogin_loginContent .flLogin_loginLogo,.bindContent .flLogin_loginLogo{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:5px -179px;background-size:446px}
#flLogin_loginBox .third-login .wb-login i{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-34px 0;background-size:446px}
#flLogin_loginBox .third-login .wb-login:hover i{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-102px 0;background-size:446px}
#flLogin_loginBox .third-login .wx-login i{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-170px 0;background-size:446px}
#flLogin_loginBox .third-login .wx-login:hover i{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-136px 0;background-size:446px}
#flLogin_loginBox .third-login .qq-login i{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-204px 0;background-size:446px}
#flLogin_loginBox .third-login .qq-login:hover i{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-68px 0;background-size:446px}
.fl-loginbg span{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-9px 0;background-size:446px}
#scanLogin .scan-img{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-238px -51px;background-size:446px}
#scanSuc .scansucbg{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-77px -36px;background-size:446px}
.scanfailimgbox{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-1px -36px;background-size:446px}
.errorTip{background:url(//img.58cdn.com.cn/passportnew/img/flerroricon2x.png) no-repeat;_background:url(//img.58cdn.com.cn/passportnew/img/flerroricon2x.gif) no-repeat;background-size:14px}
}
#bindContent{z-index:2147483647;position:fixed;width:100%;height:100%;top:0}
.bindContent .bindwrap{padding-top:62px;padding-bottom:30px;width:476px;opacity:1;background:#fff;border-radius:3px;position:relative;z-index:99999;top:100px;left:50%;margin-left:-238px;_margin-left:0;_position:absolute;_left:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollLeft+(document.documentElement.clientWidth-this.offsetWidth)/2: document.body.scrollLeft+(document.body.clientWidth - this.clientHeight)/2)}
.bindContent .flLogin_loginLogo{margin:0 auto 38px}
.bindContent .loginTit{position:relative;width:349px;height:1px;font-size:0;border-top:1px solid #eee;margin:0 auto;padding-bottom:16px}
.loginTit span{display:block;font-size:16px;line-height:16px;height:16px;*+line-height:18px;color:#666;width:152px;position:absolute;left:96px;top:-8px;background:#fff;text-align:center;z-index:100}
.bindContent .fl-bindbg{position:fixed;width:100%;height:100%;background-color:#333;-webkit-opacity:.6;-moz-opacity:.6;-khtml-opacity:.6;opacity:.6;filter:alpha(opacity=60);-ms-filter:alpha(Opacity=60);filter:alpha(Opacity=60);left:0;right:0;top:0;bottom:0;z-index:99998;_position:absolute;_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2: document.body.scrollTop+(document.body.clientHeight - this.clientHeight)/2)}
.fl-bindbg span{width:24px;height:24px;position:absolute;background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite.gif);background-position:-9px 0;right:31px;top:38px;cursor:pointer}
#bindBox{width:410px;margin:0 auto}
#bindBox{width:350px;margin:0 auto}
.infoText{position:absolute;text-align:center;width:466px;left:0;top:10px;font-size:14px;color:#f05d4a;display:none}
.bindContent .formInput{margin-top:18px;overflow:hidden}
.bindContent .mobileBtnLi{margin-top:23px}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-resolution:240dpi){.fl-bindbg span{background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.png);_background-image:url(//img.58cdn.com.cn/passportnew/img/pc_fllogin_sprite@2x.gif);background-position:-9px 0;background-size:446px}
}
